[user]
	name = Brian Jacobowski
	email = bjacobowski.dev@gmail.com
[core]
	editor = vim
	autocrlf = true
	safecrlf = warn
	filemode = false
[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[credential]

[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[color]
	ui = true
